name: Run E2E Tests

on: [pull_request]

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest

    env:
          DATABASE_URL: postgresql://docker:docker@localhost:5432/app_nest?schema=public
          JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
          JWT_PUBLIC_KEY: ${{ secrets.JWT_PUBLIC_KEY }}
          GITHUB_OAUTH_CLIENT_ID: secret
          GITHUB_OAUTH_CLIENT_SECRET: secret
          GITHUB_OAUTH_CLIENT_REDIRECT_URI: http://localhost:8080/api/auth/callback

    services:
      postgres:
        image: bitnami/postgresql
        ports:
          - 5432:5432
        env:
          POSTGRES_USERNAME: docker
          POSTGRES_PASSWORD: docker
          POSTGRES_DATABASE: app_nest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - run: pnpm install --frozen-lockfile

      - run: pnpm prisma migrate deploy

      - run: pnpm test:e2e